<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OSP</title>
    <link href="css/style.css" rel="stylesheet" />
    <style>
      html {
        height: 100%;
      }
      body {
        width: 100%;
        height: 100%;
        /*background: url(../static/bg-masthead.jpg) no-repeat center center;*/
        background-size: height;
        position: relative;
      }
      .box {
        position: absolute;
        top: 50%;
        left: 30%;
        margin: -150px 0 0 -150px;
      }
    </style>
  </head>
  <body>
    <div class="box" style="font-size: 2em; ">
      <h1>Open Source Programming Term Project Team6</h1>
      <div class="form">
        <form action="/page" method="POST">
          학년
          <select
            name="grade"
            style="width: 50pt; height: 20pt; font-size: 25px"
          >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          &nbsp;&nbsp; 학과
          <input name="major" type="text" size="20" style="height: 20pt; " />
          &nbsp;&nbsp; 과목명
          <input name="subject" type="text" size="20" style="height: 20pt" />
          &nbsp;&nbsp; 과목코드
          <input name="code" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" size="20" style="height:20pt"/>
          &nbsp;&nbsp;
          <input
            type="submit"
            name="search"
            value="검색"
            style="width: 80pt; height: 30pt; font-size: 20px"
          />
        </form>
      </div>
    </div>
  </body>
</html>
